header {
  position: relative;
  height: 800px;
  width: 100%;

  video {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
  }

  .outer-container {
    position: absolute;
    top: 2rem;
    width: 100%;
  }

  .logo {
    @include span-columns(12);
    @include omega();
  }
}
